body {
  background-image: url('img.jpeg'); /* Substitua por 'caminho/para/sua/imagem.jpg' */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Altura da tela 100% */
  margin: 0; /* Remover margens padrão */
  padding: 0; /* Remover preenchimento padrão */
}
